In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='ISO-8859-1')

In [103]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [104]:
#Question Number 16
Production_in_2014 = pd.DataFrame(data.groupby('Element')['Y2014'].sum())
Production_in_2014['Y2014']['Production']

1931287.75

In [105]:
#Question Number 17
get_third_lowest_sum = data.groupby('Element')['Y2018'].sum().sort_values()
get_third_lowest_sum

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

In [106]:
#Question Number 18
get_third_lowest_sum = data.groupby('Element')['Y2018'].sum().sort_values()
get_third_lowest_sum

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

In [107]:
#Question Number 19
import_Quantity_in_Algeria_2018 = ((data.loc[data['Area'] == 'Algeria']).loc[alg['Element'] == 'Import Quantity'])['Y2018'].sum()
import_Quantity_in_Algeria_2018

36238.29

In [109]:
#Question Number 20
unique_countries = len(pd.unique(data['Area']))
unique_countries

49